/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
/*Variables*/
:root{
    --font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 1201px) {
    #portfolio{
        font-size: 2em !important;
        background-color: white;
        mix-blend-mode: screen;
        border-radius: 10px;
        padding: 0px;
    }
    #txt{
        margin-top: 30px;
        height: 100px !important;
        margin-left: 5px;
    }
    #bckgnd2{
        position: relative;
        height: 1000px;
        background-image: url(../foto.png);
        background-position-x: left !important;
        background-repeat: no-repeat;
        border-radius: 20px;
        width: 550px;
    }
    #txt1{
        font-size: 1.2em;
    }
    #CV{
        width: 40vw !important;
        height: 500px;
    }
  }
@media screen and (min-width: 993px) {
    #portfolio{
        font-size: 3em !important;
        background-color: white;
        mix-blend-mode: screen;
        border-radius: 10px;
        padding: 0px;
    }
    #txt{
        margin-top: 30px;
        height: 100px !important;
        margin-left: 5px;
    }
    #bckgnd2{
            position: relative;
            height: 1000px;
            background-image: url(../foto.png);
            background-position-x: left !important;
            background-repeat: no-repeat;
            border-radius: 20px;
            width: 550px;
        }
        #CV{
            width: 300px !important;
            height: 500px;
        }
    }

@media screen and (min-width: 0px) {
    #portfolio{
        font-size: 2em !important;
        background-color: white;
        mix-blend-mode: screen;
        border-radius: 10px;
        padding: 0px;
    }
    #txt{
        margin-top: 30px;
        height: 100px !important;
        margin-left: 5px;
    }
    #bckgnd2{
        position: relative;
        height: 1000px;
        background-image: url(../foto.png);
        background-position-x: left !important;
        background-repeat: no-repeat;
        border-radius: 20px;
    }
    #txthov{
        margin-left: 40px;
        margin-top: 50px;
    }
    #txt1{
        font-size: 1.2em;
    }
    #CV{
        width: 80vw !important;
        height: 500px;
    }
}
/*Estructura*/
*{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}
h2{
 font-size: 1.5em !important;
}
h3{
    margin-top: 20px !important;
    font-size: 1.5em !important;
}

main{
   min-height: 1400px;
   display: flex;
   flex-direction: column;
   justify-content: start;
}

/*Clases*/
.black{
    font-weight: 700;
}
.regular{
    font-weight: 400;
}


/*ID'S*/
#bckgnd{
    background-image: url(../fondo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#bckgnd2{
    position: relative;
    height: 1000px;
    background-image: url(../foto.png);
    background-position: center;
    border-radius: 20px;
}
#CV{
    width: 40vw;
    height: 500px;
}
#CV2{
    display: none;
    width: 80%;
    background-color: rgb(209, 158, 198);
    height: 100%;
}
#bckgnd2:hover #CV2{
    display: flex;
}
#portfolio{
    font-size: 3em;
    background-color: white;
    mix-blend-mode: screen;
    border-radius: 10px;
    padding: 0px;
       
}
#txt{
    margin-top: 30px;
    margin-left: 5px;
}
#txt1{
    font-size: 1.2em;
}
#txthov{
    margin-left: 40px;
    margin-top: 50px;
}
#cvtxt{
    padding-right: 50px;
}